body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Oswald, sans-serif;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/background.jpg");
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content, .about-content, .links-content {
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    background: rgba(22, 22, 22, 0.7);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.content {
    display: inline-block;
    transition: transform 0.33s ease-in-out;
}

.about-content, .links-content {
    overflow: hidden;
    transition: max-height 0.5s, opacity 0.25s ease-out;
}

.content-active {
    transform: translateY(-15%) scale(0.75);
}

.content-show {
    opacity: 1;
    max-height: 1000px; /* Adjust this value if your content is getting cut off */
}

.content-hide {
    opacity: 0;
    margin: 0;
    padding: 0;
    max-height: 0;
}

.circular-image {
    width: 200;
    height: 200px;
    margin: 0 auto;
    display: block;
}

h1, .mainLinks {
    font-size: 2em;
    margin-top: 30px;
}

h1 {
    font-weight: bold;
}

.mainLinks a {
    color: whitesmoke;
    margin: 0 20px;
    text-decoration: none;
}

.mainLinks a:hover {
    text-decoration: underline;
}

.links-content {
    max-width: 800px;
}

.social-link {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

/* Larger screens */
@media (min-width: 1024px) {
    .circular-image {
        width: 250px;
        height: 250px; /* increase image size */
    }

    h1, .mainLinks {
        font-size: 2.5em; /* increase font size */
    }

    .social-link {
        font-size: 2em;
        font-weight: bolder;
    }

    .social-icon {
        width: 60px;
        height: 60px; /* increase social icon size */
        margin-right: 20px; /* increase margin */
    }

    p {
        font-size: 2em;
    }

    .content-hide {
        opacity: 0;
        margin: 0;
        padding: 0;
        max-height: 0;
    }
}