body {
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/background.jpg");
}

.header {
    border-radius: 10px;
    background: rgba(22, 22, 22, 0.7);
    margin: 10px;
    width: calc(100vw - 20px);
}